---
name: Build and Test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set Up Container Structure Test
        id: setup_container_structure_test
        uses: ministryofjustice/github-actions/setup-container-structure-test@721b0f273fc8356611cb18b3dfc02074d59217da # v18.4.0

      - name: Build and Test
        id: build_and_test
        shell: bash
        run: |
          make test
